<div class="container">
  <form>
    <div class="row">
      <div class="col-6">

        <div class="form-label-group">
          <input
            chat-phone-mask
            type="tel"
            class="form-control"
            id="PhoneNumber"
            placeholder="Phone number"
          />
          <label for="PhoneNumber">Phone number</label>
        </div>

        <div class="form-group submit-group">
          <button id="sign-in" class="btn btn-primary">Continue</button>
        </div>

      </div>
      <div class="col-6">
        <div class="form-label-group">
          <input type="email"
                 class="form-control"
                 id="Email1"
                 placeholder="Email"/>
          <label for="Email1">Email</label>
        </div>
      </div>
    </div>
  </form>
</div>
